# Application Files
*.apk
*.ap_

# Dex VM
*.dex

# Java class files
*.class

# Generated folders
bin/
gen/

# Config file
local.properties

# Eclipse
.classpath
.project

# Proguard
proguard/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/